<div class="backtotop">
  <i class="fas fa-angle-up"></i>
</div>
<!--================== Footer Section Start ==================-->
<footer>
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto text-center">
          <h2 class="text-primary h4 fw-bold mb-md-5 mb-3">Ready To Work?</h2>
          <p class="mb-2">Thornridge Cir. Shiloh, Hawaii 81063</p>
          <a href="#" class="mb-3 h6 text-tertiary d-block">hellorick@gmail.com</a>
          <a class="mb-lg-4 mb-3 d-inline-block text-dark" href="#">+880 (308) 555-0121</a>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Whtatsapp</a></li>
            <li class="list-inline-item"><a href="#">Facebook</a></li>
            <li class="list-inline-item"><a href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom text-center py-md-5 py-4 mb-0 border-top">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="mb-0">Designed And Developed by <a rel="nofollow" href="https://furioustheme.com/ " target="blank">Furioustheme
          </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--================== Footer Section End ==================-->