.portfolio-filters {
  input {
    opacity: 0;
    margin-left: -13px;
  }
  label {
    padding: 10px 38px;
    text-transform: capitalize;

    @include tablet{
      padding: 6px 35px;
      margin-bottom: 10px;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
